/* removes color from links */
a, a:hover, a:focus, a:active {
    text-decoration: none !important;
    color: inherit !important;
}

/* fixes the scroll position for navbar */
/* top value set in index.html */
.scroll-position {
    display: block;
    position: relative;
    top: 0px;
    visibility: hidden;
}

/* overlay for portfolio */
.container-overlay{
    position: relative;
    display: inline-block;
}

.container-overlay .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0%;
    transition:opacity 500ms ease-in-out;
}

.container-overlay:hover .overlay{
    opacity: 75%;
}

.overlay span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: white;
}